﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="ExtSurat.master.cs" Inherits="ExtSurat.ExtSurat" %>
<%@ Register Assembly="Ext.Net" Namespace="Ext.Net" TagPrefix="ext" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .add32 
        {
            background-image : url(Images/add_user-32.png) !important;
        }
        .group32 
        {
            background-image : url(Images/group_access-32.jpg) !important;
        }
    </style>
    <asp:ContentPlaceHolder ID="head" runat="server">
         
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">  
        
        <ext:ResourceManager ID="ResourceManager1" runat="server" />
        <ext:TabPanel ID="TabPanel1" runat="server" StyleSpec="margin-top:1px">
                <Items>
                    <ext:Panel ID="Panel1" runat="server" Title="User">
                        <TopBar>
                            <ext:Toolbar ID="Toolbar1" runat="server">
                                <Items>
                                    <ext:ButtonGroup ID="ButtonGroup1" runat="server" Title="Master User" Layout="TableLayout">
                                        <LayoutConfig>
                                            <ext:TableLayoutConfig Columns="2" />
                                        </LayoutConfig>
                                        <Items>
                                            <ext:Button runat="server" ID="btnMasterUser" ClientIDMode="Inherit" Text="Master User" IconCls="add32" IconAlign="Top" Cls="x-btn-as-arrow" Scale="Large" Shadow="true">
                                                <Listeners>
                                                    <Click Handler="#{DirectMethods}.loadUserControl(#{btnMasterUser}.id);" />                                                    
                                                </Listeners>                                                
                                            </ext:Button>
                                            <ext:Button runat="server" ID="btnMasterGroup" Text="Group Access" IconCls="group32" IconAlign="Top" Cls="x-btn-as-arrow" Scale="Large" Shadow="true" >
                                                <Listeners>
                                                    <Click Handler="#{DirectMethods}.btnMasterGroup_Click();" />
                                                </Listeners>
                                            </ext:Button>
                                        </Items>
                                    </ext:ButtonGroup>
                                </Items>
                            </ext:Toolbar>
                        </TopBar>
                    </ext:Panel>
                    <ext:Panel ID="Panel2" runat="server" Title="Surat">
                        <TopBar>
                            <ext:Toolbar ID="Toolbar2" runat="server">
                                <Items>
                                    <ext:ButtonGroup ID="ButtonGroup2" runat="server" Title="Letter" Layout="TableLayout">
                                        <LayoutConfig>
                                            <ext:TableLayoutConfig Columns="2" />
                                        </LayoutConfig>
                                        <Items>
                                            <ext:Button runat="server" ID="btnInbox" ClientIDMode="Inherit" Text="Surat Masuk" IconCls="add32" IconAlign="Top" Cls="x-btn-as-arrow" Scale="Large" Shadow="true" >
                                                <Listeners>
                                                    <Click Handler="#{DirectMethods}.loadUserControl(#{btnInbox}.id);" />                                                    
                                                </Listeners>
                                            </ext:Button>
                                            <ext:Button runat="server" ID="btnOutbox" ClientIDMode="Inherit" Text="Surat Keluar" IconCls="group32" IconAlign="Top" Cls="x-btn-as-arrow" Scale="Large" Shadow="true" >
                                                <Listeners>
                                                    <Click Handler="#{DirectMethods}.loadUserControl(#{btnOutbox}.id);" />                                                    
                                                </Listeners>
                                            </ext:Button>
                                        </Items>
                                    </ext:ButtonGroup>
                                </Items>
                            </ext:Toolbar>
                        </TopBar>
                    </ext:Panel>
                    <ext:Panel ID="Panel3" runat="server" Title="Reports">
                        <TopBar>
                            <ext:Toolbar ID="Toolbar3" runat="server">
                                <Items>
                                    <ext:ButtonGroup ID="ButtonGroup3" runat="server" Title="Reports" Layout="TableLayout">
                                        <LayoutConfig>
                                            <ext:TableLayoutConfig Columns="3" />
                                        </LayoutConfig>
                                        <Items>
                                            <ext:Button runat="server" ID="Button3" Text="Master User" IconCls="add32" IconAlign="Top" Cls="x-btn-as-arrow" Scale="Large" Shadow="true" />
                                            <ext:Button runat="server" ID="Button4" Text="Group Access" IconCls="group32" IconAlign="Top" Cls="x-btn-as-arrow" Scale="Large" Shadow="true" />
                                            <ext:Button runat="server" ID="Button5" Text="Disposition" IconCls="group32" IconAlign="Top" Cls="x-btn-as-arrow" Scale="Large" Shadow="true" />
                                        </Items>
                                    </ext:ButtonGroup>
                                </Items>
                            </ext:Toolbar>
                        </TopBar>
                    </ext:Panel>
                </Items>
                <BottomBar>
                    <ext:Toolbar runat="server">
                        <Items>
                            <ext:ToolbarSeparator />
                            <ext:Label runat="server" Text=" Welcome " ID="lblWelcome" />
                            <ext:ToolbarSeparator />
                            <ext:ToolbarFill />
                            <ext:ToolbarSeparator />
                            <ext:Button runat="server" Text="Logout" ID="btnLogout" Border="true" StyleSpec="margin-right:5px" />
                            <ext:ToolbarSeparator />
                            <ext:TextField runat="server" Width="100" Enabled="false" ReadOnly="true" />
                        </Items>
                    </ext:Toolbar>
                </BottomBar>
            </ext:TabPanel> 
            <%--<ext:Panel runat="server" ID="pnlMain" Title="Main Panel" Height="500">                
                <Content>                     
                </Content>
            </ext:Panel>--%>      
        <div>
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                  
        </asp:ContentPlaceHolder>
    </div>
    </form>
</body>
</html>
